name: Rust

on:
  push:
    branches: [ master ]
    paths-ignore: [ '**/*.md' ]
  pull_request:
    branches: [ master ]
    paths-ignore: [ '**/*.md' ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Install test-deps
      run: cargo install cargo2junit
    - name: Run tests
      run: cargo test -- -Z unstable-options --format json | cargo2junit > results.xml
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1
      if: always()
      with:
        files: results.xml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
